<tr>
  <th scope="row"><%= uploaded_company.id %></th>
  <td><%= uploaded_company.name %></td>
  <td><%= uploaded_company.additional_name %></td>
  <td><%= uploaded_company.site %></td>
  <td><%= uploaded_company.email %></td>
  <td><%= uploaded_company.phone %></td>
  <td><%= uploaded_company.address %></td>
  <td><%= uploaded_company.coordinates_x %></td>
  <td><%= uploaded_company.coordinates_y %></td>
  <td><%= uploaded_company.comment %></td>
  <td><%= uploaded_company.category_code %></td>
  <td><%= uploaded_company.active %></td>
  <td><%= uploaded_company.request_status %></td>
  <td><%= uploaded_company.request_success %></td>
  <td><%= uploaded_company.created_at %></td>
</tr>
